notebook.ipynb

# Python / IDE stuff.
/.project
/.ipynb_checkpoints
/.pytest_cache
/.idea
__pycache__
.pydevproject

# Lightroom stuff.
helper.db
previews.db
root-pixels.db
*.lrprev
*.lrcat-shm
*.lrcat-wal

# Mac stuff.
.DS_Store
